<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/jpg" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.jpg">
    {% include analytics_head.html %}
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/images/favicon-32x32.jpg" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          
          <table style="width:100%">
            
            <thead>
              <tr>
                <th colspan="2"><b>AI</b></th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <th><b>Resource</b></th>
                <th><b>Details</b></th>
              </tr>
              
              <tr>
                <td><a href="https://ai.google/education/">Google Education</a></td>
                <td> I mean, it's education provided by Google... </td>
              </tr>
              
              <tr>
                <td><a href="https://machinelearningmastery.com/start-here/">Machine Learning Mastery</a></td>
                <td> A great place to really start understanding and learning about AI. </td>
              </tr>
              
              <tr>
                <td><a href="https://www.youtube.com/user/consumerchampion">Python Programmer</a></td>
                <td> Not all about AI but this dude knows a lot about the language that is used for developing AI products. </td>
              </tr>
            </tbody> 
            
          </table> 
          
          <br>
          <table style="width:100%">
            <thead>
              <tr>
                <th colspan="2"><b>Computer Engineering</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><b>Resource</b></th>
                <th><b>Details</b></th>
              </tr>
              <tr>
                <td><a href="https://erc-bpgc.github.io/handbook/roadmap/">ERC roadmap for robotics</a></td>
                <td>A roadmap that will guide you to all the right resources.</td>
              </tr>
            </tbody> 
          </table> 
          <br>
          <table style="width:100%">
            <thead>
              <tr>
                <th colspan="3"><b>Software Dev</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th><b>Resource</b></th
                <th><b>Details</b></th>
                <th><b>Channel</b></th>
              </tr>
              
              <tr>
                <td><a href="https://www.codestars.com/infographic/">Code Stars roadmap for all kinds of development</a></td>
                <td>Roadmaps that will help you determine what you should learn. Who needs school? (Stay in school, please).</td>
                <td></td>
              </tr>
              
              <tr>
                <td><a href="https://roadmap.sh/">Roadmap for all kinds of development</a></td>
                <td>Roadmaps that will help you determine what you should learn. Who needs school? (Stay in school, pretty please).</td>
                <td></td>
              </tr>
              
              <tr>
                <td><a href="https://www.w3schools.com/">W3Schools</a></td>
                <td>Also a GOATed website.</td>
                <td></td>
              </tr>
              
              <tr>
                <td><a href="https://www.freecodecamp.org/learn/">FreeCodeCamp</a></td>
                <td>This website is the GOAT when it comes to software development. Their YouTube channel is better than Christmas morning.</td>
                <td><a href="https://www.youtube.com/@freecodecamp">FreeCodeCamp's YouTube channel</a></td>
              </tr>
              
               <tr>
                <td><a href="https://www.youtube.com/user/djdjalas">Amigoscode</a></td>
                <td>A great YouTube channel for those that would like to learn about Java.</td>
                 <td></td>
              </tr>
              
              <tr>
                <td><a href="https://www.youtube.com/channel/UC4SVo0Ue36XCfOyb5Lh1viQ">BroCode</a></td>
                <td>Bro, if you want to start learning how to code but don't know what excatly you want to learn. This Chad has it all.</td>
                <td></td>
              </tr>
              
              <tr>
                <td><a href="https://www.youtube.com/channel/UCZgt6AzoyjslHTC9dz0UoTw">ByteByteGo</a></td>
                <td>Developing is more than just programming, it is about system analysis and design.</td>
                <td></td>
              </tr>
              
              <tr>
                <td><a href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA">Fireship</a></td>
                <td>Short videos that'll make you curious about different technologies.</td>
                <td></td>
              </tr>
              
              <tr>
                <td><a href="https://www.youtube.com/user/RootOfTheNull">John Hammond</a></td>
                <td>Do you want to learn how to hack? </td>
                <td></td>
              </tr>
              
            </tbody> 
          </table> 
            <table style="width:100%">
            <thead>
              <tr>
                <th colspan="3"><b>General</b></th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th><b>Resource</b></th>
                <th><b>Details</b></th>
                <th><b>Channel</b></th>
              </tr>
              
              <tr>
                <td><a href="https://www.khanacademy.org/">Khan Academy</a></td>
                <td> Not only is mathematics important for IT but it essentially runs the world.</td>
                <td></td>
              </tr>
              
              
              <tr>
                <td><a href="https://www.udemy.com/logout/">Udemy</a></td>
                <td> The majority of content on here is not free however there are sales so first utilise the free resources. </td>
                <td></td>
              </tr>
              
              <tr>
                <td><a href="https://www.coursera.org/">Coursera</a></td>
                <td> The majority of content on here is not free and is rather expensive but great for when you would like to beef up your CV. </td>
                <td></td>
              </tr>
              
              <tr>
                <td><a href="https://ocw.mit.edu/">MIT</a></td>
                <td> Glorious website and the YouTube channel is even better. </td>
                <td> <a href="https://www.youtube.com/@mitocw">MIT's YouTube channel (it is all free). </a></td>
                <td></td>
              </tr>
              
              <tr>
                <td><a href="https://brilliant.org/">Brilliant</a></td>
                <td> Sometimes learning does have to be about studying. This website is a great place to learning something interesting and relax. However there is a cost. </td>
                <td></td>
              </tr>
              
              <tr>
                <td><a href="https://www.3blue1brown.com/">3Blue1Brown</a></td>
                <td> Sometimes learning does have to be about studying. This website is a great place to learning something interesting, relax and it is free. </td>
                <td></td>
              </tr>
              
              <tr>
                <td><a href="https://www.youtube.com/user/tutoringecon">GreeneMath.com</a></td>
                <td> If your math teacher was actually good and it's free. </td>
                <td></td>
              </tr>
              
            </tbody> 
          </table> 
        </div>
      </div>
      <br>
      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
